
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div> 
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="InputRegisterEmail">Register Email address</label>
                <input type="email" class="form-control" id="InputRegisterEmail" name="InputRegisterEmail" placeholder="RegisterEmail">
            </div>
            <div class="form-group">
                <label for="InputRegisterPassword1">Register Password</label>
                <input type="password" class="form-control" id="InputRegisterPassword" name="InputPassword" placeholder="RegisterPassword">
            </div>
            <button type="submit" class="btn-Register">提交注册信息</button>
        </form>

    </div>
</body>
</html>
